* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  color: #333;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: #d32f2f;
  color: white;
  padding: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

hr {
  margin-bottom: 30px;
  height: 3px;
  background-color: red;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.business-name {
  font-size: 46px;
  font-weight: bold;
}

.business-logo {
  margin-top: 50px;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  background-color: #fff;
  border: 2px solid #d32f2f;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 20px;
  color: #d32f2f;
  cursor: pointer;
  position: relative;
}

#cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
}

.sidebar {
  width: 220px;
  background-color: #f5f5f5;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar nav .navegador {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar nav .navegador li {
  margin: 25px 0;
}

.sidebar nav .navegador li a {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.sidebar nav .navegador li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.content {
  margin-left: 220px;
  padding: 90px 20px 20px;
  flex-grow: 1;
  width: calc(100% - 220px);
}

h1 {
  margin-top: 40px;
  font-size: 32px;
  margin-bottom: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 12px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #d32f2f;
}
.cart-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 20px;
}

.cart-modal-content {
  position: relative;
  padding: 20px;
  background-color: #fff;
  max-width: 500px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item p {
  font-size: 14px;
  display: flex;
  align-items: center;
}
#bebidas,
#snacks,
#comida-rapida,
#aperitivos {
  scroll-margin-top: 120px;
}
.cart-item button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-item button:hover {
  background-color: #b71c1c;
}

#emptyCartButton,
#checkoutButton {
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;

  transition: 0.3s ease;
}

#emptyCartButton {
  background-color: #f44336;
  color: white;
  border: none;
  width: 220px;
}

#emptyCartButton:hover {
  background-color: #d32f2f;
}

#checkoutButton {
  background-color: #4caf50;
  color: white;
  border: none;
  width: 220px; 
}

#checkoutButton:hover {
  background-color: #388e3c;
}

#closeCartButton {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #333;
}
#closeCartButton:hover {
  color: #d32f2f;
}

.add-to-cart {
  
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.add-to-cart:hover {
  background-color: #388e3c;
}

.add-to-cart:active {
  transform: scale(0.98);
}

/* Estilos generales del carrito */
#cartItems {
  margin-bottom: 20px;
}

/* Ajustes responsive */
@media (max-width: 768px) {
  .cart-modal-content {
    width: 90%;
    padding: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-item p {
    margin-bottom: 10px;
  }
}
#cartSummary p {
  background-color: #f44336;
  color: white;
  border: none;
  margin-bottom: 30px;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  width: 48.5%;
  text-align: center;
}
#cartSummary p:hover {
  background-color: #d32f2f;
}
aside nav .volver-inicio {
  background-color: red;
  width: 80%;
  border-radius: 15px;
  border: 2px solid #000;
  left: 20px;
  text-align: center;
  list-style: none;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
aside nav .volver-inicio:hover {
  box-shadow: 0 0 10px;
  background-color: rgb(233, 7, 7);
}
aside nav .volver-inicio a li {
  padding: 10px 0px;
  font-size: 24px;
  color: #fff;
}
aside nav .volver-inicio a {
  text-decoration: none;
}
main .product-container .product-card h3{
  height: 60px;
}
main .product-container .product-card p{
  height: 80px;
}