* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  /* Estilos para el header */
  header {
    background-color: #d32f2f;
    color: white;
    padding: 10px 0;
    width: 100%;
    position: block;
    top: 0;
    z-index: 1000;
  }
  ::-webkit-scrollbar{
    width: 0;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .business-name {
    font-size: 20px;
    font-weight: bold;
  }

  .business-logo {
    width: 50px;
    height: auto;
  }

  /* Estilos de la sidebar */
  .sidebar {
    width: 25%;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .sidebar nav ul {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .sidebar nav ul li {
    margin: 20px 0;
    
  }
  
  .sidebar nav ul li a {
    
    color: white;
    text-decoration: none;
    font-size: 30px; /* Aumentar tamaño de letra para mayor visibilidad */
    display: block;
    transition: background-color 0.3s;
    padding: 10px 0;
  }

  .sidebar nav ul li a:hover {
    background-color: #444;
  }

  /* Estilos para el contenido principal */
  .content {
    margin-left: 25%;
    padding: 20px;
    flex-grow: 1;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px; /* Tamaño grande para visibilidad */
  }

  /* Estilos para la galería de productos */
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos productos por fila */
    gap: 10px; /* Separación entre los productos */
    justify-items: center;
  }

  .product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Padding pequeño para que estén casi pegados */
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .product-card:hover {
    transform: scale(1.05); /* Efecto hover para resaltar la tarjeta */
  }

  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse ni deformarse */
    border-radius: 8px;
  }

  .product-card h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
  }

  .product-card p {
    font-size: 16px;
    color: #777;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f;
    margin-top: auto; /* Esto empuja el precio hacia abajo */
  }

  .price span {
    font-size: 20px;
    color: red;
  }